/*
scheme: "Catppuccin Mocha"
author: "Catppuccin"
*/

@define-color base10 #1E1E2E;
@define-color base00 #181825;
@define-color base02 #313244;
@define-color base03 #45475A;
@define-color base04 #CDD6F4;
@define-color base05 #D9E0EE;
@define-color base06 #E6E9EF;
@define-color base07 #94E2D5;
@define-color base08 #89B4FA;
@define-color base09 #74C7EC;
@define-color base0A #89DCEB;
@define-color base0B #F38BA8;
@define-color base0C #F5E0DC;
@define-color base0D #FAB387;
@define-color base0E #A6E3A1;
@define-color base0F #CBA6F7;

*{
    font-family: "JetBrains Mono";
}

#window {
    margin: 0px 5px 0px 5px;
}

#inner-box {
    background-color: @base00;
}

#outer-box {
  margin: 5px;
  padding:10px;
  background-color: @base00;
  margin-top: -22px;
}

#scroll {
}

#text {
  padding: 5px;
  color: @base04;
}

#entry {
}

#entry:selected {
    background-color: @base03;
}

#text:selected {
}

